node_modules
/.vscode
dist
!packages/vdm/**/dist
.DS_Store
coverage
/lerna-debug.log
/packages/vdm/index.js
*.tgz
**credentials.json
.idea/*
.nyc_output
documentation/

packages/**/test-results.xml
packages/generator-rest/test/generated/**

packages/type-tests/report.*.json

tsconfig.tsbuildinfo
junit.xml
packages/vdm
generator-input/
generator-output/
.env

.npmrc
